@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
      --background: 242 253 255;
      --text: 16 25 53;
      --highlights-1: 154 212 214;
      --highlights-2: 219 203 216;
      --details: 86 71 135;
    }
  }